/* nav */
nav {
    background-color: #f5f5f5af;
    box-shadow: 0 0 3px #c3c3c3,0 0 5px #e4e4e4;
    color: var(--gray);
    height: 10%;
    position: relative;
    display: flex;
    place-items: center;
    width: 100%;
    position: relative;
    justify-content: center;
}
/* .logo-wrap{
} */
.logo{
    font-family: 'New Tegomin', serif;
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    padding: 0;
    margin: 1vw;
    vertical-align: super;
    text-decoration: 0;
    color: black;

}
.bold{
    font-weight: bold;
}
nav .menu a {
    text-decoration: 0;
    padding: 0vw;
    margin: 0 1vw;
    text-transform: capitalize;
    font-size: 1rem;    
}
nav .menu a:hover {
    color: black;
}
.menu a {
    color: #333;

}
.serach-box{
    flex: 1;
}
.serach-box input {
    padding: .05vw 0vw;
    outline: 0;
    margin: 0 auto;
    float: right;
    border: 1px solid rgb(236, 236, 236);
    box-shadow: 0 0 .05vw #333;
    color: #333;
    border-radius: .5vw;
    background: transparent;
    width: 8rem;
    margin: 0 1vw;
    font-size: .625rem;

}
input[type="placeholder"]{
    font-size: 10px;
}