.spinner-wrap{
    position: fixed;
    display: flex;
    justify-content: center;
    place-items: center;
    width: 100%;
    color: black;
    height: 100%;
    margin: 0 auto;
}
.spinner,.mini-spinner{
    position: relative;
    border-top: 2px solid transparent;
    border-left: 2px solid black;
    border-bottom: 2px solid transparent;
    animation: spinner .6s linear infinite;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
@keyframes spinner {
    100%{
        transform: rotate(360deg);
    }
} 