@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: calc(.4rem + 1vw);
}
:root{
  --gray: #333;
  --softgray: #eee;
}
.container{
  min-height: 100vh;
}
.page{
  position: absolute;
  overflow: hidden;
  min-height: 90%;
  width: 100%;
}
.page-enter {
  opacity: 0;
  transform: scale(.95) translateX(-10%);
}

.page-enter-active {
  opacity: 1;  
  transform: scale(1) translateX(0%);
  transition: opacity 300ms, transform 300ms;  
}

.page-exit {
  transform: scale(1) translateX(0%);
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: translateX(-10%);
}
.about-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  place-items: center;
  position: absolute;
}
.about-page h1 {
  font-size: 4rem;
}
.about-page p {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.allcoin-txt{
  font-size: 2rem;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  margin: 1.5vw 0;
}
@media only screen and (min-width: 600px){
  *{
    font-size: 20px;
  }
}